<!-- <div class ="card">
<div class="card-body">
    <h4 class="card-title">{{post.data.title}}</h4>
    <img class="class-img-top" [src]="post.data.permalink" alt="" class="img img-thumbnail"/>
</div>
</div> -->





<div class="row">
    
    <div class="card" *ngFor="let p of posts">
        <div class="card-body">
          <h4 class="card-title">{{ p.data.title }}</h4>
          <img class = "card-img-top" [src]="p.data.thumbnail" alt="p.Thumbnail" class="img img-thumbnail" />
          <a href="http://reddit.com/{{ p.data.permalink }}">Read More</a>
          <!-- <h5>{{ p.data.permalink }}</h5> -->
          
        </div>
      </div>

</div>
